.flex{
  display: flex;
}
.button{
  border: none;
  background: none;
}
.nav{
  background-color: #F1F2F6;
  width: 250px;
}
.navElement{
  display: flex;
  align-items: center;
  .icon{
    width: 16px;
    height: 16px;
  }
}
.navElement img:nth-child(1){
  margin-right: 15px;
}
.navElement img:nth-child(3) {
  margin-left: 58px;
}